.container text-center,
.row .col{
  display: flex;
  margin: 10px;
        h1{
    
        font-family: "Cabo", sans-serif;
        font-size: 3.0rem;
        font-weight: 600;
    
        }
  }


#home-tab{
  margin: 2px;
}

.row {
  display: flex;
  justify-content: center !important;
}

.container text-center,
.row .col {
  display: flex;
  margin: 10px;
  justify-content: end;
}

.col .contacto-right .form {
  flex-basis: 100%;
  justify-content: start!important;
  width: 100%;
  text-align: start;
}

.contacto-right{
  text-align: left;
}

.col img-contact {
  width: 400px;
}
