.container text-center,
.row .col{
  display: flex;
  margin: 10px;
        h1{
    
        font-family: "Cabo", sans-serif;
        font-size: 3.0rem;
        font-weight: 600;
    
        }
  }


#home-tab{
  margin: 2px;
}

.row {
  display: flex;
  justify-content: center !important;
}

.container text-center,
.row .col {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.col .contacto-right .form {
  flex-basis: 100%;
  justify-content: start!important;
  width: 100%;
  text-align: start;
}

.contacto-right{
  text-align: left;
  .form{
    
    button, input, optgroup, select, textarea {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      border: solid orange 1px;
      margin-top: 3px;
      margin-bottom: 3px;
      padding: 3px;
      width: 100%;
  }
  .boton-enviar {
    width: auto; /* El ancho se ajusta al contenido del botón */
    padding: 5px 10px; /* Ajusta el espacio alrededor del texto */
    display: inline-block; /* Asegura que el botón solo ocupe el ancho necesario */
  }
  .descrp-contact{
    font-size: 1.2rem;
    p{padding: 0px;
    margin: 0px;}
  }
  }

}

.col img-contact {
  width: 400px;
}
img, svg {
  vertical-align: middle;
  border-radius: 25px;
}

