/*Estilos Base - COMIENZO footer */
footer {
  background-color: #ff953f;
  padding: 40px 50px; // Simplificación del padding
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1px;
  flex-wrap: wrap;

  .menufooter {
      display: flex;
      justify-content: center;
      flex-direction: column;

      ul {
          list-style: none; // Elimina las viñetas
          padding: 0;
          margin: 0;
          display: flex; // Coloca los elementos en línea
          justify-content: center; // Centra el contenido horizontalmente

          li {
              list-style: none;
              padding: 5px;
          }

          button {
              padding: 5px;
              border: 1px solid #ffffff;
              border-radius: 25px;
              transition: all 0.3s;
              cursor: pointer;
              background: rgb(148, 148, 148);
              font-size: 1rem;
              font-weight: 500;
              font-family: "Cabo", sans-serif;
              padding-left: 5px;
              padding-right: 5px;

              &:hover {
                  background: #343a40;
                  color: white;
              }
          }
      }
  }

  .copy {
      color: black;
      font-size: 17px;
      font-style: normal;
      text-align: center;
      font-family: sans-serif;
      padding-left: 29px;
      padding-top: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .card-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: inline-flex;
    flex-basis: 50%;
    gap: 20px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
      a {
          display: flex;
          justify-content: center;
      }
  }

  /* for all social containers*/
  .socialContainer {
    width: 25px;
    height: 25px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  
}
}