.container-presentacion {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 4rem;
    
    background-color: rgba(245, 160, 57, 1);
background-image: linear-gradient(90deg, rgba(245, 160, 57, 1) 0%, rgba(255, 255, 255, 1) 100%);

    .column-left {
        max-width: 50%;
        padding: 6%;

        h1 {
            font-size: $tam-fuente-h1;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }

        button {
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}

.mockup-home {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;

    img {
        max-width: 100%;
        height: 100%;

    }
}

.right-img {
    width: 50%;
    float: none;
    padding-left: 0 !important;
    display: flex;
    padding-top: 40px;
    justify-content: center;
}

.container-presentacion {
    button {
        margin-top: 10px;
    }
}

.desciption-left {
    img {
        margin-top: 10px;
        width: 100%;
        max-width: 200px;
    }
}


/*COMIENZO DE seccion quien soy*/

.section-soy {
    background-color: rgb(240, 240, 240);
    margin: 0px;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.desciption-left {
    width: 50%;
    align-items: center;
    padding: 10%;


    h2 {
        font-family: "Cabo", sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 0.5rem
    }

    h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;

    }
}

.right-img {
    width: 50%;
    float: right;
    padding-left: 150px;

    img {
        max-width: 50%;
    }
}

.container-desc {
    display: flex;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
}


/* FIN seccion quien soy*/

/*COMIENZO container de 3 columnas intro - exp -contaccto*/

.containergrid2 {
    background-color: #ff953f;
    margin: 0px;
    padding: 4%;
    display: grid;
    grid-template-columns: 40% 30% 30%;

    .intro-3row {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }

    .grid-items {
        border: 1px solid white !important;
        margin: 4px;
        height: auto;
        padding: 60px;

        button {
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}

/*FIN container de 3 columnas intro - exp -contaccto*/

/* COMIENZO de forma de trabajo */

/* SERVICIO - Estilos base */
.servicios-4row {
    text-align: center;
    padding: 5%;
    margin: 10px;
    margin-top: 5px;
    justify-content: center;

    .img-servicios{
        max-width: 225px;
        max-height: 200px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    h2 {
        margin-bottom: 1rem !important;
        font-size: 3.5rem;
        font-weight: bold;
    }
    h3{
        margin-bottom: 1rem !important;
        font-size: 1.8rem;
        font-weight: bold;
    }

    p {
        font-size: 1rem;
    }

    .container text-center,
    .row .col .container-servicios {
        display: flex;
        margin: 5px;
        padding: 15px !important;
        justify-content: center;
        flex-wrap: wrap;
        background: #e7e7e7;
        padding: 20px;
        min-height: 460px;
        border-radius: 30px;
        background-color: #343a4027;

        &:hover {
            background-color: #f1f1f1;
                h3{
                    color: #ff953f;
                }
        }

        .col {
            .container-servicios {
                h3 {
                    font-size: 5rem !important;
                    margin-bottom: 10px;
                    font-weight: bold;
                }

                img {
                    max-width: 100%;
                    padding-top: 50px;
                }

                p {
                    font-size: 16px;

                }
            }
        }
    }
}

/* COMIENZO de forma de trabajo */

.containergrid {
    display: flex;
    padding: 4%;
    .linea{
        height: 2px;
        width: 75px;
        background: #0056b3;
        margin-bottom: 25px;
        animation: grow 5s infinite;
        animation-iteration-count: 1; /* Se repetirá solo una vez */
        animation-fill-mode: forwards; /* Mantiene el estado final después de la animación */
        .linea {
            animation: grow 2s forwards; /* Aplica la animación 'grow' de 2 segundos de duración */
        }
        
        @keyframes grow {
          0% {
            width: 0;
          }
          100% {
            width: 100px;  /* Debe coincidir con el ancho final deseado */
          }
        }

          }
                        .grid-items {
                            flex: 1 1 calc(50% - 5px);
                            /* 2 columnas con gap */
                            box-sizing: border-box;
                            align-items: center;

                            h2 {
                                font-size: 2.5rem !important;
                                margin-bottom: 10px;
                                font-weight: bold;
                            }

                            p {
                                font-size: 18px;
                            }

                            h3 {
                                font-size: 1.5rem !important;
                                margin-bottom: 10px;
                                font-weight: bold;

                            }
                            article {
                                padding-top: 50px;
                                padding: 10px;
                                margin: 15px;
                                border: solid 1px black;
                                display: flex;
                                &:hover {
                                    background-color: #ff953f;
                                    transition: all 1s ease;
                                        h3{
                                            color: #f1f1f1;
                                        }

                                }
                            }
                            .img-formas{
                                max-width: 100px!important;
                                max-height: 100px!important;
                                padding-top: 10px;
                                margin-right: 10px;
                            }
                            .icon-title{
                                padding-right: 15px;
                                padding: 15px;
        }   
    }
}


/*COMIENZO llamada a la accion */

.llamada {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 28vh;
	text-align: center;

	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 1);
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(246, 170, 78, 1) 100%);
}
    

    
        h3{
            font-size: 2rem;
            font-family: "Cabo", sans-serif;
            font-weight: 600;

        }
            button {
                padding: 0.75rem 1.5rem;
                font-size: 1rem;
                color: #fff;
                background-color: #007bff;
                border: none;
                border-radius: 0.25rem;
                cursor: pointer;
                transition: background-color 0.3s;
                margin-top: 15px;

                &:hover {
                    background-color: #0056b3;
                }
            }
            .llamada{background-color: rgba(255, 255, 255, 1);
                background-image: linear-gradient(169deg, rgba(255, 255, 255, 1) 0%, rgba(246, 170, 78, 1) 100%)!important;
                
            }


/*FIN llamada a la accion */

