/* Estilos para MOVIL presentacion corta row home**/
// Media queries para dispositivos móviles
@media (max-width: 500px) {
  .container-presentacion {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;

    .column-left,
    .desciption-left {
      padding: 50px !important;
      min-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }

    .mockup-home {
      display: flex;
      min-width: 100% !important;
      padding-bottom: 50px;
    }
  }
}
// VERSION TABLETS

@media screen and (min-width: 501px) and (max-width: 729px) {
    
  
  .container-presentacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
    background-color: #ffffff;
    flex-direction: column;
    min-width: 100%;
  }
  
  .column-left{
    opacity: 1;
    transform: translateZ(0);
    min-width: 100%;
  }
  .mockup-home {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    min-width: 100%!important;
  
          .img {
            display: flex;
            flex-basis: 100%;
      }
    }
      
      

      
    .containergrid2 {
      background-color: #ff953f;
      margin: 0px;
      padding: 4%;
      display: grid;
      grid-template-columns: 40% 30% 30%;
      display: flex!important;
      flex-direction: column!important;
    }

    }

    // VERSION TABLETS

@media screen and (min-width: 729px) and (max-width: 992px) {
  .container-presentacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
    background-color: #ffffff;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  [data-aos^="fade"][data-aos^="fade"].aos-animate {
    opacity: 1;
    transform: translateZ(0);
    width: 100% !important;
    flex-basis: 100%;
    min-width: 100%;
  }
  .mockup-home {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .containergrid2 {
    background-color: #ff953f;
    margin: 0px;
    padding: 4%;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
  }






}



/* FIN Estilos para MOVIL presentacion corta row home**/


/* Media query para móviles Presentacion + Bienvenido a mi sitio*/
@media (max-width: 500px) {

  .container-presentacion,
  .container-desc {
    flex-direction: column;
    text-align: center;
    padding: 0px !important;
    width: 100% !important;
  }

  .column-left,
  .desciption-left {
    margin-bottom: 20px;
    padding: 0px !important;
  }

  .desciption-left {
    width: 100% !important;
    align-items: center;
  }

  .right-img {
    width: 100%;
  }
}

/* FIN Media query para móviles Presentacion + Bienvenido a mi sitio*/

/* Media query para móviles 1 columnas quien soy - 3 row home*/

@media (max-width: 500px) {
  .containergrid2 {
    grid-template-columns: 1fr !important;
    padding: 20px !important;
  }

  .grid-items {
    text-align: center;
  }
}

/* Media query para móviles 1 columnas quien soy - 3 row home*/

// COMIENZO SERVICIOS -HOME
@media (max-width: 500px) {
  .servicios-4row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .title-sub {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-basis: 100%;
    justify-content: center;

    h2 {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%;
      justify-content: center;
    }

    p {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%;
      justify-content: center;
    }
  }

  .col {
    display: flex;

    .container-servicios {
      display: flex !important;
      flex-wrap: wrap !important;

      h3 {
        flex-basis: 100%;
      }
    }
  }
}

// VERSION TABLETS
@media screen and (min-width: 501px) and (max-width: 768px) {
    

.container-servicios{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
}


// VERSION TABLETS MACBOOK
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container-servicios{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .containergrid2 {
    background-color: #ff953f;
    margin: 0px;
    padding: 4%;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    flex-wrap: wrap;
    display: flex;
  }
}

// VERSION DESTOP LARGE
@media screen and (min-width: 993px ) and (max-width: 1500px) {
  .container-servicios{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .containergrid {
    display: flex;
    padding: 4%;
    flex: min-content;
    flex-wrap: wrap;
    direction: unset;
    flex-direction: column;
  }
  
}


// LLAMADA A LA ACCION

@media (max-width: 500px) {
  .llamada {
    min-width: 50%;
    min-height: 200px;

    h3 {font-size: 1.5rem;}
  }

}



//COMIENZO forma de trabajo //

@media (max-width: 500px) {

  .containergrid {
    flex-wrap: wrap;
    flex-direction: column;

    .grid-items {
      article {
        padding-top: 50px;
        padding: 25px;
        margin: 15px;
        border: solid 1px black;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

// FORMA DE TRABAJO TABLETS
@media screen and (min-width: 501px) and (max-width: 768px) {

.containergrid {
	display: flex;
	padding: 4%;
	flex-wrap: wrap;
}
}

// MI FORMA DE TRABAJO TABLET MACBOOK O LARGE
@media screen and (min-width: 769px) and (max-width:992px) {
  .containergrid {
    display: flex;
    padding: 4%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  }

// FIN DE FORMA DE TRABAJO//

//COMIENZO DE FOOTER //

@media (max-width: 500px) {
  footer .menufooter ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

}

/* Media query para móviles 1 columnas quien soy - 3 row home*/

/* Estilos para MOVIL presentacion corta row home**/
@media (min-width: 500px) {
  .container-presentacion .container-desc {
    flex-direction: row;
    text-align: left;
  }
}

//SECCION TRAYECTORIA - QUIEN SOY

@media (max-width: 500px) {

  .flexcolumn{
    display: flex!important;
    flex-wrap: wrap;
    min-width: 100%;
    h3{
      font-size: 1.2rem;
      font-family: "Cabo", sans-serif;
      font-weight: 600;
    }
    .trayectoria {
      flex-wrap: wrap !important;
      flex-basis: 100%;
      align-items: center;
      padding: 40px!important;
      background: #616161;
      background: linear-gradient(1deg, #ffffff 0%, #f6aa4e 100%);
      background: -moz-linear-gradient(1deg, #ffffff 0%, #f6aa4e 50%);
    }
  }
    .columnleft{
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%!important;
    }

    .img-title-des{
      display: flex;
      flex-wrap: wrap;
      min-width: 100%;
      padding-bottom: 15px;
    }
      
}
@media screen and (min-width: 501px) and (max-width: 768px) {
  
    .flexcolumn {
      display: flex;
      flex-wrap: wrap!important;
      flex-direction: column!important;
    }
    .columnleft{
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%!important;
    }
  }

  @media screen and (min-width: 769px) and (max-width:992px) {
    .columnleft{
      max-width: 50%!important;
  }
  .flexcolumn .trayectoria {
    flex-wrap: wrap !important;
    flex-basis: 50%;
    align-items: center;
    padding: 50px;
    background-color: #b9b9b9;
    max-width: 50%;
  }

  }


/* Estilos para pantallas de 500px o menos SERVICIOS */
@media (max-width: 500px) {
  .container-padre {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    width: 100%;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    flex-basis: 100%;

    .column-text-tiendas {
      padding: 50px;
      flex-basis: 100%;
      text-align: left;
    }

    .column-text-hosting {
      padding: 50px;
      flex-basis: 100%;
      text-align: left;
    }
  }

  .container-3-servicios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    flex-basis: 100%;

  }

}

@media screen and (min-width:501px) and (max-width:768px){
  .column-text-column {
    display: flex;
    min-width: 100%;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 50px!important;
  }
  .container2 {
    display: flex;
    flex-wrap: wrap;
  }
  .container-3-servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-padre{
    display: flex;
    flex-wrap: wrap;
  }

  .column-text-tiendas {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    padding: 50px;
    text-align: left!important;
    min-width: 100%;
  }

  .column-text-hosting {
    display: flex;
    justify-content: center;
    padding: 50px;
    min-width: 100%;
    text-align: left;
  }
  .vertical{
    justify-content: center;
    min-width: 100%;
    text-align: left;
  }
}
@media screen and (min-width:569px) and (max-width:992px){
  .column-text-column {
    display: flex;
    min-width: 100%;
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 50px!important;
  }
  .container2 {
    display: flex;
    flex-wrap: wrap;
  }
  .container-3-servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-padre{
    display: flex;
    flex-wrap: wrap;
  }

  .column-text-tiendas {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    padding: 50px;
    text-align: left!important;
    min-width: 100%;
  }

  .column-text-hosting {
    display: flex;
    justify-content: center;
    padding: 50px;
    min-width: 100%;
    text-align: left;
  }
  .vertical{
    justify-content: center;
    min-width: 100%;
    text-align: left;
  }
  .column-image-column1 {
    display: flex;
    flex-basis: 100%!important;
    justify-content: center;
    min-width: 100%;
  }

  .column-text-mantenimientos {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    padding: 50px;
    min-width: 100%;
  }



}

/* -----------FIN SECCION SERVICIOS-------------------*/

/*--------------- RESPONSIVE TRABAJOS -----*/

@media screen and (max-width: 500px) {

  .container .row .col {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .descripcion-flex {
    flex-wrap: wrap;
    display: flex;
    align-content: left;
    text-align: left;
    padding-left: 0px !important;
  }

}


//CONTACTO

@media screen and (max-width:500px) {

  .row {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
  }
}

// HEADER
@media screen and (max-width:500px) {

  header .nav-item {
    border-radius: 5px;
    align-items: center !important;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    padding-bottom: 10px;
    background-color: rgb(255 255 255 / 49%);
    display: inline-block;
    padding-top: 5px;
    text-align: center;
  }

  .navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 20px;
  }

  header .nav-link {
    padding: 0.5em 0.7em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #007eff;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    text-align: center;
    overflow: hidden;
    outline: 1px solid #1b1b1b;
  }

}

@media screen and (min-width:501px) and (max-width: 1010px){
  header .nav-item {
    background-color: rgba(255, 255, 255, 0.49);
    border-radius: 5px;
    align-items: center !important;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    min-width: 200px;
  }
}