/* Estilos para MOVIL presentacion corta row home**/
// Media queries para dispositivos móviles
@media (max-width: 500px) {
    .container-presentacion{
        display: flex;
        flex-wrap: wrap;
    
        .column-left, .desciption-left {
        margin-bottom: 50px;
        padding: 0 !important;
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .mockup-home {
            display: flex;
            width: 100% !important; // Asegura que el contenedor de la imagen ocupe el 100% del ancho disponible

                    img {
                        display: flex;
                        min-width: 100%!important; // Asegura que la imagen dentro del contenedor ocupe el 100% del ancho disponible
                        height: auto; // Mantiene la proporción de la imagen
                    }
            }
        }
    }
}
/* FIN Estilos para MOVIL presentacion corta row home**/


/* Media query para móviles Presentacion + Bienvenido a mi sitio*/
@media (max-width: 500px) {
    .container-presentacion,
    .container-desc {
      flex-direction: column;
      text-align: center;
      padding: 0px !important;
      width: 100% !important;
    }
  
    .column-left,
    .desciption-left {
      margin-bottom: 20px;
      padding: 0px !important;
    }
    .desciption-left {
      width: 100% !important;
      align-items: center;
    }
    .right-img {
      width: 100%;
    }
  }
/* FIN Media query para móviles Presentacion + Bienvenido a mi sitio*/

/* Media query para móviles 1 columnas quien soy - 3 row home*/

@media (max-width: 500px) {
    .containergrid2 {
      grid-template-columns: 1fr !important;
      padding: 20px !important;
    }
  
    .grid-items {
      text-align: center;
    }
  }
  /* Media query para móviles 1 columnas quien soy - 3 row home*/

  //COMIENZO forma de trabajo //

  @media (max-width: 500px) {
    
    .containergrid{
        flex-wrap: wrap;
        flex-direction: column;

        .grid-items {
                    article {
                        padding-top: 50px;
                        padding: 25px;
                        margin: 15px;
                        border: solid 1px black;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
        }
    }
  }
 }

  // FIN DE FORMA DE TRABAJO//

  //COMIENZO DE FOOTER //

  @media (max-width: 500px) {
    footer .menufooter ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
  }

  /* Media query para móviles 1 columnas quien soy - 3 row home*/

/* Estilos para MOVIL presentacion corta row home**/
@media (min-width: 500px) {
    .container-presentacion .container-desc {
      flex-direction: row;
      text-align: left;
    }
  }

//SECCION TRAYECTORIA - QUIEN SOY

/* Media Query para dispositivos móviles */
// Variables de breakpoints
$breakpoint-mobile: 768px;

// Mixin para media queries
@mixin media($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }
}

// Estilos para el contenedor de columnas
.flexcolumn {
  display: flex;
  flex-wrap: wrap;
  gap: 2px; // Espaciado entre columnas, ajusta según sea necesario
}

// Estilos para las columnas
.columnleft,
.trayectoria {
  flex: 1; // Las columnas ocupan el mismo espacio disponible
  padding: 16px; // Espaciado interno de las columnas, ajusta según sea necesario
  box-sizing: border-box; // Incluye padding y border en el cálculo del ancho

  // Estilos específicos para cada columna
  &.columnleft {
    background-color: #f4f4f4; // Ajusta según sea necesario
  }

  &.trayectoria {
    background-color: #eaeaea; // Ajusta según sea necesario
  }
}

// Estilos específicos para móviles
@include media(mobile) {
  .columnleft,
  .trayectoria {
    flex: 0 0 100%; // En móviles, cada columna ocupa el 100% del ancho
  }
}

/* Estilos para pantallas de 500px o menos SERVICIOS */
@media (max-width: 500px) {
  .container-padre{
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    width: 100%;
    .vertical {
      padding: 15%;
        h3{
            font-family: "Cabo", sans-serif;
            font-size: 1.8rem;
            font-weight: 600;
        }
    }
    
       img{
        display: flex;
        justify-content: center;
        min-width: 100%!important;
      }
    
      .column-text-column {
        flex: 0 0 50%;
        max-width: 90%;
        align-items: center;
        min-height: 450px;
        margin-top: -50px;
      }
    } 
    .column-text-column {
      flex: 0 0 100%;
      max-width: 90%;
      align-items: top;
      
    }
  
    .container2{
      .vertical {
        padding: 15%;
          h3{
              font-family: "Cabo", sans-serif;
              font-size: 1.8rem;
              font-weight: 600;
          }
      }
      .column-text-column{
        max-width: 90%;
      }
    }
  
    .container-3-servicios{
        flex-direction: column;
        .vertical {
          padding: 15%;
            h3{
                font-family: "Cabo", sans-serif;
                font-size: 1.8rem;
                font-weight: 600;
            }
        }
          img{
            width: 100%;
          }
    }
  
    .column-text-column3 {
      flex: 0 0 50%;
      max-width: 90%;
      align-items: center;
      min-height: 450px;
      padding-top: 20px;
    
    } 

    
    }

/* -----------FIN SECCION SERVICIOS-------------------*/

/*--------------- RESPONSIVE TRABAJOS -----*/

@media screen and (max-width: 500px) {

  .container .row .col {
      display: flex;
      flex-direction: column;
  }

}


//CONTACTO

@media screen and (max-width:500px) {

  .row {
      display: flex;
      flex-direction: column;
      flex-basis: auto;
  }
}

// HEADER
@media screen and (max-width:500px) {

header .nav-item {
  border-radius: 5px;
  align-items: center !important;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  padding-bottom: 10px;
  background-color: rgb(255 255 255 / 49%);
  display: inline-block;
  padding-top: 5px;
  text-align: center;
}
.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 20px;
}

header .nav-link {
  padding: 0.5em 0.7em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #007eff;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  text-align: center;
  overflow: hidden;
  outline: 1px solid #1b1b1b;
}

}