/*--------------------SECCION TRAYECTORIA----------------------------*/
section{

  .flexcolumn {
    .columnleft{
    padding: 60px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
  
    .trayectoria {
    min-width: 50%;
    padding: 100px;
    background-color: darkgrey;
    }
  }
}
}

