/*--------------------SECCION TRAYECTORIA----------------------------*/
section{

  .columnleft.trayectoria, .trayectoria.trayectoria {
    background-color: #ffffff;
}
  .columnleft, .trayectoria {
    flex: 1;
    padding: 50px;
    box-sizing: border-box;

        .flexcolumn {
          display: flex;
          padding-block: 15px;
          padding: 50px;
          background-color: #cbcbcb;
  
              .trayectoria {
              min-width: 50%;
              background-color: rgb(210, 55, 55);

        }
      }
    }
  }

  

