/**-------------SECCION SERVICIOS------------------*/

/* Estilos generales */

.container-padre,
.container2,
.container-3-servicios,
.column-text-column,
.column-image-column {
  display: flex;
  align-items: center;
  width: 100% !important;
  height: auto;
  .vertical {
    padding: 15%;
      h3{
          font-family: "Cabo", sans-serif;
          font-size: 2.5rem;
          font-weight: 600;
      }
  }
}

.container-3-servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: auto;
}

.column-image-column img {
  max-height: 500px;
}

.column-text-column {
  flex: 0 0 50%;
  max-width: 50%;
  align-items: center;
  min-height: 450px;
}

.column-image-column1 img {
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 450px;
  justify-content: end !important;
}

.container2 {
  width: 100%;
  flex-direction: row-reverse !important;
  align-items: center;
  background-color: rgb(230, 230, 230);
}

.container-padre,
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.column-image-column1,
.column-text-column,
.column-image-column {
  flex: 1;
  padding: 10px;
}



.container2 {
  width: 100%;
  flex-direction: row-reverse !important;
  align-items: center;
  background-color: rgb(230, 230, 230);
}