


/*-----  TRABAJOS -----*/

.main-solapas-trabajo {
  padding: 40px !important;
}

.container text-center,
.row .col {
  display: flex;
  align-items: center;
  margin: 10px;
}

.descripcion-flex {
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  padding-left: 40px;
}

.main {
  padding: 20px;
}

.desc-trabajo{
text-align: left;
}
.bot-trabajos{
  background-color: $color-boton;
  padding:$padd-boton;
  border-radius: $border-radius-bot;
  font-size: $font-size-bot;
  color:$color-bot;
}
