// Tamaño de fuentes
$tam-fuente-h3: 3.0rem;
$tam-fuente-h1:3.8rem;




// color de botones DEFAULT
$color-boton: #007bff;
$padd-boton:0.75rem 1.5rem;
$border-radius-bot: 0.25rem;
$font-size-bot:1rem;
$color-bot:#fff;